*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: verdana;
}
html{
    height: 100%;
}
body{
    background: linear-gradient(rgba(192, 69, 230, 0.699),rgba(228, 116, 64, 0.801));
    height: 100%;
    overflow: hidden;
}
#titulo{
    text-align: center;
    padding: 15px;
    margin-top: 10vh;
    color: white;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 5vh auto;
    background: linear-gradient(to right, rgb(80, 80, 80), rgba(0, 0, 0, 0.719));
    text-align: left;
    box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.671);
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    min-height: 350px;
}
main .resultado, main .resultado2{
    background-color: rgba(133, 197, 133, 0.815);
    padding: 15px;
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.grid-container a{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(116, 116, 116);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: .3s;
    width: 22.5%;
}
.grid-container a:hover{
    background-color: orange !important;
}

a.valorreseta{
    background: orange;
}
.valor{
    background: black !important;
}

/*Aside*/
aside#direita{
    position: absolute;
    right: 15%;
    top: 50%;
}
aside#direita p{
    font-size: 50px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: .3s;
}
aside p:hover{
    background-color: orange;
}
/*Container*/
.container-calculadoras{
    display: flex;
    justify-content: center;
    position: relative;
}


/*Científica*/
#cientifica{
    position: absolute;
    right: -102%;
} 
#cientifica > main{
    width: 40%;
}
#cientifica > main > .grid-container > a{
    width: 13%;
}
#cientifica aside#esquerda{
    position: absolute;
    left: 10%;
    top: 50%;
}
aside#esquerda p{
    font-size: 50px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    transition: .3s;
}