*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: blue;
}
#Título{
    text-align: center;
    padding: 15px;
    color: white;
}


main{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20vh auto;
    background-color: grey;
    text-align: center;
    border: 5px solid black;
}
main .resultado{
    background-color: white;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.grid-container a{
    padding: 30px 15px;
    cursor: pointer;
    border: 2px solid black;
}